.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;

    margin: 20px 0px;
}

.nav-link {
    margin: 0px 10px;
    color: rgb(53, 53, 53);
    font-weight: bold;
    padding: 10px ;
    transition: 300ms;
}

.nav-link:hover {
    border-radius: 20px;
    border: solid 2px rgb(53, 53, 53);
}

.logo {
    text-decoration: none;
    font-size: 1.5rem;
    color: #111;
    margin-right: 30px;
}

h3 {
    font-family: 'Lobster', cursive;
}

@media (max-width:700px){
    .float-menu{
        font-size: 15px;
        display: flex;
        line-height: 45px;
        font-weight: bold;
        flex-direction: column;
    }
    h3 {
        transform: translateY(55px);
    }
    
}
